body{
    background: #2b2b2b;
    display: flex;
    font-family: Arial;
}
.slider{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.img{
    text-align: center;
    line-height: 300px;
    position: absolute;
    font-size: 50px;
    color: #fff;
    display: none;
}
.img.curry{
    display: block;
}
.img:first-child{
    width: 500px;
    background: #CA0F1F;
}
.img:nth-child(2){
    width: 500px;
    background: aqua;
}
.img:nth-child(3){
    width: 500px;
   background: chocolate;
}
.img:nth-child(4){
    width: 500px;
    background: darkviolet;
}
.img:nth-child(5){
    width: 500px;
    background: lightseagreen;
}
.n{
    color: #575757;
}
a{
    text-decoration: none;
    color: #FD7EAD;
    font-size: 20px;
}
a:hover{
    color: #0AB6DD;
}
.prev{
    position: relative;
    top: 240px;
    left: 300px;
}
.next{
    position: relative;
    top: 240px;
    right: 300px;
}