<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css.css">
    <link rel="stylesheet" type="text/css" href="media.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <div id="logo"><img src="images/logo.png"></div>
    <div id="social">
        <div class="socialBlock"><img src="images/twitter.png"></div>
        <div class="socialBlock"><img src="images/google.png"></div>
        <div class="socialBlock"><img src="images/facebook.png"></div>
    </div>
</div>

<nav>
        <a href="#" class="menu-trigger">MENU</a>
        <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">GALLERY</a></li>
            <li><a href="#">EVENTS</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTACTS</a></li>
        </ul>
</nav>
<div class="sliders"><img src="images/slider.jpg"></div>
<div>
    <div class="featProd"><h3>FEATURED PRODUCTS</h3></div>
    <div class="productsImg">
        <ul>
            <li><a href=""><img src="images/01.jpg"></a> </li>
            <li><a href=""><img src="images/02.jpg"></a> </li>
            <li><a href=""><img src="images/03.jpg"></a> </li>
            <li><a href=""><img src="images/04.jpg"></a> </li>
            <li><a href=""><img src="images/05.jpg"></a> </li>
        </ul>
    </div>
</div>



<script src="js.js"></script>
</body>
</html>